$snappy: cubic-bezier(0.55, 0, 0.1, 1);

* {
  box-sizing: border-box;
  font-weight: 200;
  font-family: 'Cairo', sans-serif;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  background: tomato; // fallback for older browsers
  background: -webkit-linear-gradient(135deg, #2D3A62, #55375E); 
  background: -o-linear-gradient(135deg, #2D3A62, #55375E); 
  background: -moz-linear-gradient(135deg, #2D3A62, #55375E);  
  background-image: linear-gradient(135deg, #2D3A62, #55375E); 
  font-family: 'Roboto'
}

i.material-icons {
  font-size: 30px;
    color: #fff;
    position: absolute;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 30px;
    width: 30px;
    margin: auto;
    cursor: pointer;
}

p {
  text-align: center;
  color: #fff;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  height: 30px;
  font-weight: 300;
  cursor: pointer;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/02/2018, 03:04:53 PM
    Author     : inter-telco
*/

